nav {
    margin: auto;
    background-color: transparent;
    padding:0;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    width: 100%;
}


img {
    max-width: 100%;
    height: auto;
}

.yellow {
    color: gold;
}

#forest {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto
}




#contact_main {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
    width: auto;
    height: auto
}

.map {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-bottom: 15rem;

}

html {
    font-family: 'Roboto Condensed', 'Josefin Sans', sans-serif;
    max-width: 100%;
    height: fit-content;
    width: auto;
    overflow-x: hidden;
    background: linear-gradient(135deg, #001F4D, #3F00FF, #001F4D);
    color: white;
}

.cv_list {
    border: 4px solid #E0E6ED;

}

.cv_list li {
    color: #F7F7FF;
}



.img_logo {
    margin-right: .5rem;
    display: inline-flex;
    justify-content: flex-start;
    width: 80%;
    position: relative;

.

}

.logo {
    display: block;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.6),  /* Outer glow */
                0 0 40px rgba(0, 150, 255, 0.4),  /* Middle glow */
                0 0 60px rgba(0, 150, 255, 0.2);  /* Inner glow */
    transition: box-shadow 0.3s ease-in-out;
}

.logo:hover {
    box-shadow: 0 0 30px rgba(0, 150, 255, 0.8),  /* Outer glow on hover */
                0 0 60px rgba(0, 150, 255, 0.6),  /* Middle glow on hover */
                0 0 90px rgba(0, 150, 255, 0.4);  /* Inner glow on hover */
    cursor: pointer;
}

.sliding_text_container {
    position: relative;
    overflow: hidden;
    height: 35px;
    width: 400px; /* Adjust as needed */
    margin: auto; /* Adjust as needed */
    border-radius: 15px;
    background-color: transparent;
    justify-content: center;
    border: 2px solid #E0E6ED;
}

.sliding_text {
    position: absolute;
    white-space: nowrap;
    animation: slide 12s linear infinite;
    color: #E0E6ED;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


#menu-toggle {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #E0E6ED;
    color: #3F00FF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    z-index: 3; /* Ensure it is above other elements */
    transition: left 0.5s;
}

/* Dropdown menu styles */
.dropdown_menu {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #012169;
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 3;
    opacity: 0.95;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}



.dropdown_menu a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #E0E6ED;
    display: block;
    transition: color 0.3s ease;
    font-weight: bold;
    white-space: nowrap;
}

.dropdown_menu a:hover {
    color: #3F00FF;
}





nav a {
    text-decoration: none;
    color: #E0E6ED;
    text-align:center;
    width: auto;
    margin: auto;
    font-weight: bold;
    padding-right: .5rem;
    padding-left: .5rem;
}

#HomeHead {
    font-size: 60px;
    color: #E0E6ED;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto
}

.div-section {
    justify-content: center;
}

.home-article {
    display: block;
    justify-content: center;
    margin: auto;
}

.home-section {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto

}


.products-sec {
    margin: auto;
}

a:hover {
    color: #495867;
}

#home_figcaption {
    margin: auto;
    font-size: 20px;
    color: #E0E6ED;
    max-width: 70%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding-top: .5rem;
    padding-bottom: 3rem;
}

.home-section ul {
    list-style-type: none;
    padding: 1rem;
    border-radius: 8px;
    margin: auto;
    justify-content: center;
    display: inline-block;
    linear-gradient(135deg, #001F4D, #3F00FF, #001F4D);
}

.home-section ul a {
    color: #1ABC9C;
}

.home-section ul a:hover {
    color: #577399;
}

.cvContainer {
    padding-bottom: 1rem;
    scale: 120%;
}

.product_overhead {
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 80%;
}

.product_overhead img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header {
    padding:0;
    margin: auto;
    text-align: center;
}

.container {
    width: 100%;
    margin:auto;
    text-align: center;
    background-color: transparent;
}

article {
    margin: auto;
    display: flex;
    color: #34495E;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;

}

main {
    padding:0;
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    background-color: transparent;
    width: 100%;
    height: 100%;
}


main img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

figcaption {
    text-align: center;
}

.product_overhead p {
    margin: auto;
    font-size: 18px;
    color: #E0E6ED;
    max-width: 53%;
    max-height: 80%;
    width: auto;
    height: auto;
    display: flex;
    padding-top: .5rem;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
}

section {
    color: rgb(190, 154, 154);
    padding:.5rem;
    width: 100%;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
}

.product_name {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 60%;
    max-height: 100%;
    width: auto;
    height: auto;

}



figure {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.product-container {
    display: inline-flex;
    margin: auto;
    padding: 1rem 1rem 5rem;
    justify-content: space-evenly;
    gap: 10px;
}

#ChaseTheRat img {
    transition: transform 0.3s ease;
}

#ChaseTheRat img:hover {
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.2);
}

#htmlRepo img{
    transition: transform 0.3s ease;
}

#htmlRepo img:hover {
    cursor: pointer;
    opacity: 50%;
    transform: scale(1.2);
}


.product-container section {
    border: 2px solid #E0E6ED;
    border-radius: 5px;
    padding: .5rem .5rem 5rem;
    margin: auto;
    height: 27rem;
    width: calc(100% / 3);
    background-color: transparent;
    display: block;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

}

.product-container section.show {
    opacity: 1;
    transform: translateY(0);
}

.product-container section img:hover {
    cursor: pointer;
    opacity: 80%;
}

.product-container h3 {
    display: flex;
    justify-content: start;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Josefin Sans', 'Roboto Condensed', sans-serif;
    color: #E0E6ED;
    font-style: normal;
}


.product-container h5 {
    display:flex;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-style: italic;
    color: #577399;
}

.product-container p {
    margin: auto;
    display: block;
    font-size: 16px;
    width: 50%;
    padding-bottom: 5rem;
    color: #E0E6ED;
}








p {
    width: 60%;
    margin: auto;
}

.container {
    width: 80%;
}

h3 {
    margin: auto;
    display: flex;
}


#contact_us li{
    list-style-type: none;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    font-style: italic;
    color: #495867;
    font-size: 18px;
}

strong {
    font-style: italic;
    font-weight: bold;
}

iframe {
    display: flex;
    justify-content: flex-end;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.skills {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 4rem;
    display: block;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    margin: 0 0 10px 0;
    color: #FFFFFF; /* Strong white color for headings */
}

.skill-bar {
    position: relative;
    height: 30px;
    background: #444444; /* Dark grey for better contrast */
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar-fill {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #FFA500, #FFFF00); /* Stronger gradient for the fill */
    border-radius: 5px;
    transition: width 2.5s ease-in-out;
}

.skill-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #FFFFFF; /* Strong white color for the percentage text */
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.cv-download {
    display: inline-block;
    padding-top: 3rem;
}

.cv_list {
    padding: .5rem;
    list-style-type: none;
    border-radius: 10px;
    font-weight: bold;
    padding-inline: 1rem;
}

.openCV a {
    color: #1ABC9C;
}

.openCV a:hover {
    color: #3F00FF;
}
